#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mario-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.mario-view {
  max-width: 320px;
  width: 100%;
}

.power-up-items {
  width: 100%;
  max-width: 200px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.power-up-items_wrapper button > img {
  vertical-align: middle;
  padding-left: 4px;
}